### Created by Kaiwei Ang (Lance)

In [50]:
import pandas as pd
import numpy as np
import datetime

In [4]:
#Loading in all the datasets
AnalyData = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Analytics Dataset')
MbrLvl = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Mbrshp Level')
PayMthd = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Pmt Mthd')
SalesChannel = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Sales Channel')
Offer1st = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Offer on 1st Ren Notice')
EmlOpt = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='EMail Options')
Demo1 = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Demo_1')
ZipCd = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Zip Code')
KeyPpl = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Key people on Membership')
NumVst = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Num Visits')
CSI = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='CSIs')
Commu = pd.read_excel('SMM Competitor Workbook 5.25.16.xlsx', sheetname='Communication')
#EI = pd.read_excel('SMM NEW Email Indicators 7.6.16.xlsx', sheetname='Sheet1')

In [3]:
EI = pd.read_excel('SMM NEW Email Indicators 7.6.16.xlsx', sheetname='Sheet1')

In [236]:
ZC = pd.read_csv("zip_code_data/zipdata_dned.csv")

In [6]:
'''
print(PayMthd.dtypes)
for cols in PayMthd.columns[1:]:
    print(PayMthd[cols].unique())
PayMthd.describe()
SalesChannel.shape

Pay = PayMthd["ID Number"]
Pay = Pay.append(pd.Series(np.random.randint(2, size=14)))
compare = AnalyData["ID Number"] == Pay'''

for i in [AnalyData,MbrLvl,PayMthd,SalesChannel,Offer1st,EmlOpt,Demo1,ZipCd,KeyPpl,NumVst,CSI,Commu,EI]:
    print(i.shape)

(9548, 5)
(9548, 4)
(9534, 9)
(9538, 5)
(9340, 2)
(9548, 5)
(9548, 13)
(9548, 2)
(9548, 2)
(9534, 2)
(1192, 6)
(9105, 6)
(9548, 23)

### Transforming and Converting AnalyData

In [389]:
#A quick experiment on datetime64 to int conversion 
print(AnalyData.dtypes)
print(AnalyData.iloc[1,:])
d = np.datetime64(AnalyData.iloc[1,2]) - np.datetime64(AnalyData.iloc[1,1])
d2 = np.timedelta64(d,'D')
d2 = d2.astype(int)

#Converting datetime64 to int and getting the duration of membership
temp = AnalyData
temp["Duration"] = temp.apply(lambda row: np.datetime64(row["Expiration Date"]) - np.datetime64(row["Initiation Date"]),axis=1)
temp["Duration"] = temp["Duration"].apply(lambda row: np.timedelta64(row,'D').astype(int))
print(temp["Duration"].unique())
print(temp.dtypes)
AnalyData_mod = temp["Duration"] #AnalyData_mod is a predictor
AnalyData_mod.name = "Duration"
renew = AnalyData["Renew"] #renew is the response

ID Number                   int64
Initiation Date    datetime64[ns]
Expiration Date    datetime64[ns]
Test or Train?             object
Renew                     float64
Duration                    int64
dtype: object
ID Number                       298260
Initiation Date    2014-10-16 00:00:00
Expiration Date    2015-10-15 00:00:00
Test or Train?                Training
Renew                                0
Duration                           364
Name: 1, dtype: object
[364 595 423 729 394 529 484 425 395 486 609 608 426 456 437 408 385 384
 698]
ID Number                   int64
Initiation Date    datetime64[ns]
Expiration Date    datetime64[ns]
Test or Train?             object
Renew                     float64
Duration                    int64
dtype: object

### Transforming and Converting MbrLvl

In [347]:
print(MbrLvl.dtypes) 
for col in MbrLvl.columns[1:]:
    print(MbrLvl[col].unique())
temp = pd.to_numeric(MbrLvl["Discount"],errors='coerce')
print(temp.unique())
temp[pd.isnull(temp)] = 1 #assigning 1 to all the rows with any discount 
print(temp.unique())
temp2 = MbrLvl["Mbr1"]
temp2[temp2 == "A"] = 1
temp2[temp2 == "B"] = 2
temp3 = MbrLvl["Mbr2"]
temp3[temp3 == "A"] = 1
temp3[temp3 == "B"] = 2
TEMP = pd.DataFrame([MbrLvl["ID Number"],temp2,temp3,temp])
TEMP = TEMP.transpose()
print(TEMP.dtypes)
MbrLvl_mod = TEMP.astype(int) #MbrLvl_mod is a predictor
MbrLvl_mod = MbrLvl_mod[MbrLvl_mod.columns[1:]]
print(MbrLvl_mod.dtypes)
print(MbrLvl_mod.head(12))
for i in MbrLvl_mod.columns[1:]:
    print(pd.value_counts(MbrLvl_mod[i]))

ID Number     int64
Mbr1         object
Mbr2         object
Discount     object
dtype: object
[1 2]
[2 1]
['15%' '$5' 0 '39%' '50%' '25%' '$10']
[ nan   0.]
[ 1.  0.]

/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ID Number    float64
Mbr1         float64
Mbr2         float64
Discount     float64
dtype: object
Mbr1        int64
Mbr2        int64
Discount    int64
dtype: object
    Mbr1  Mbr2  Discount
0      1     2         1
1      1     1         1
2      2     1         1
3      1     1         1
4      2     1         1
5      2     1         0
6      1     1         1
7      1     1         1
8      1     1         0
9      2     1         0
10     1     1         1
11     1     1         1
1    8783
2     765
Name: Mbr2, dtype: int64
0    6513
1    3035
Name: Discount, dtype: int64

### Transforming and Converting PayMthd

In [98]:
#An overview of PayMthd
print(PayMthd.dtypes)
print(PayMthd.describe())
for col in PayMthd.columns[1:]:
    print(PayMthd[col].unique())

ID Number     int64
Pmt_Cash      int64
Pmt_Chk       int64
Pmt_GftCrd    int64
Pmt_CrCrdA    int64
Pmt_CrCrdE    int64
Pmt_CrCrdB    int64
Pmt_CrCrdF    int64
TTI           int64
dtype: object
            ID Number     Pmt_Cash      Pmt_Chk   Pmt_GftCrd   Pmt_CrCrdA  \
count     9534.000000  9534.000000  9534.000000  9534.000000  9534.000000
mean   6785434.633942     0.066709     0.009545     0.073107     0.096811
std     714688.629716     0.249530     0.097235     0.260325     0.295716
min     236764.000000     0.000000     0.000000     0.000000     0.000000
25%    6883203.000000     0.000000     0.000000     0.000000     0.000000
50%    6937346.000000     0.000000     0.000000     0.000000     0.000000
75%    6990246.000000     0.000000     0.000000     0.000000     0.000000
max    7401876.000000     1.000000     1.000000     1.000000     1.000000

        Pmt_CrCrdE   Pmt_CrCrdB   Pmt_CrCrdF          TTI
count  9534.000000  9534.000000  9534.000000  9534.000000
mean      0.048668     0.142752     0.563352     0.054542
std       0.215184     0.349838     0.495996     0.227095
min       0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     1.000000     0.000000
75%       0.000000     0.000000     1.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[1 0]
[0 1]

In [383]:
#Transform PayMthd to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(PayMthd["ID Number"])
print(cmpr[cmpr==0].index)
temp = PayMthd
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],0,0,0,0,0,0,0,0])
temp = temp.append(pd.DataFrame(l, columns=list(PayMthd.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9533])
print(AnalyData["ID Number"][9533])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9533])
print(AnalyData["ID Number"][9533])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

Int64Index([ 401,  531,  552,  560,  565,  598,  603, 1139, 1766, 3679, 4924,
            5029, 5631, 8514, 8632],
           dtype='int64')
Original size: (9534, 9)
Modified size: (9549, 9)
Do not belong to ID: 7229    6993112
Name: ID Number, dtype: int64
9548
7401876
7045672
7045672
7045672
9548

In [384]:
#Convert the multiple columns into 1 column. This will be one of the predictors 
maxi = temp2[temp2.columns[1:]].idxmax(axis=1)
print(maxi.unique())
print(pd.value_counts(maxi))
maxi[maxi=="Pmt_CrCrdF"] = 1
maxi[maxi=="Pmt_CrCrdB"] = 2
maxi[maxi=="Pmt_CrCrdA"] = 3
maxi[maxi=="Pmt_CrCrdE"] = 6
maxi[maxi=="Pmt_GftCrd"] = 4
maxi[maxi=="Pmt_Cash"] = 5
maxi[maxi=="Pmt_Chk"] = 7
maxi[maxi=="TTI"] = 8
maxi.loc[cmpr[cmpr==0].index] = 1
print(pd.value_counts(maxi))

#When a row has multiple columns with 1, choose only the column with the most occurrence of 1
total = temp2[temp2.columns[1:]].sum(axis=1)
print(total.unique())
total_logical = (total==2) | (total ==3)
for idx in total_logical[total_logical].index:
    if temp2["Pmt_CrCrdF"][idx] == 1: maxi[idx]=1
    elif temp2["Pmt_CrCrdB"][idx] == 1: maxi[idx]=2
    elif temp2["Pmt_CrCrdA"][idx] == 1: maxi[idx]=3
    elif temp2["Pmt_GftCrd"][idx] == 1: maxi[idx]=4
    elif temp2["Pmt_Cash"][idx] == 1: maxi[idx]=5
    elif temp2["Pmt_CrCrdE"][idx] == 1: maxi[idx]=6
    elif temp2["Pmt_Chk"][idx] == 1: maxi[idx]=7
    elif temp2["TTI"][idx] == 1: maxi[idx]=8
print(pd.value_counts(maxi))
PayMthd_mod = maxi.astype(int) #PayMthd_mod is a predictor
PayMthd_mod.name = "PayMthd"

['Pmt_CrCrdF' 'Pmt_CrCrdA' 'Pmt_CrCrdB' 'Pmt_CrCrdE' 'Pmt_GftCrd'
 'Pmt_Cash' 'Pmt_Chk' 'TTI']
Pmt_CrCrdF    5356
Pmt_CrCrdB    1357
Pmt_CrCrdA     923
Pmt_GftCrd     697
Pmt_Cash       651
Pmt_CrCrdE     464
Pmt_Chk         91
TTI              9
dtype: int64
1    5371
2    1357
3     923
4     697
5     636
6     464
7      91
8       9
dtype: int64
[1 2 0 3]
1    5385
2    1360
3     921
4     697
5     622
6     463
7      91
8       9
dtype: int64

### Transforming and Converting SalesChannel

In [101]:
#An overview of SalesChannel 
print(SalesChannel.dtypes)
print(SalesChannel.describe())
for col in SalesChannel.columns[1:]:
    print(SalesChannel[col].unique())

ID Number        int64
In Person        int64
Inbound Phone    int64
Mail             int64
Web              int64
dtype: object
            ID Number    In Person  Inbound Phone         Mail          Web
count     9538.000000  9538.000000    9538.000000  9538.000000  9538.000000
mean   6785451.072342     0.713881       0.082093     0.007863     0.196372
std     714545.060286     0.452665       0.274520     0.088330     0.397274
min     236764.000000     0.000000       0.000000     0.000000     0.000000
25%    6883174.000000     0.000000       0.000000     0.000000     0.000000
50%    6937334.000000     1.000000       0.000000     0.000000     0.000000
75%    6990246.000000     1.000000       0.000000     0.000000     0.000000
max    7401876.000000     3.000000       1.000000     1.000000     1.000000
[1 0 3]
[0 1]
[0 1]
[0 1]

In [385]:
#Transform SalesChannel to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(SalesChannel["ID Number"])
print(cmpr[cmpr==0].index)
print(SalesChannel[SalesChannel["ID Number"]==ID[560]])
temp = SalesChannel
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],0,0,0,0])
temp = temp.append(pd.DataFrame(l, columns=list(temp.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9537])
print(AnalyData["ID Number"][9537])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9533])
print(AnalyData["ID Number"][9533])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

Int64Index([401, 531, 560, 565, 598, 1139, 3679, 4924, 5029, 5631, 8514], dtype='int64')
Empty DataFrame
Columns: [ID Number, In Person, Inbound Phone, Mail, Web]
Index: []
Original size: (9538, 5)
Modified size: (9549, 5)
Do not belong to ID: 7232    6993112
Name: ID Number, dtype: int64
9548
7401876
7045740
7045672
7045672
9548

In [388]:
#Convert the multiple columns into 1 column. This will be one of the predictors 
print(temp2[temp2.columns[1:]].sum(axis=1).unique())
a = temp2[temp2.columns[1:]].max(axis=1)
print(a[a==3])
print(temp2.loc[1890])
temp2["In Person"][1890] = 1
print(temp2.loc[1890])
maxi = temp2[temp2.columns[1:]].idxmax(axis=1)
print(maxi.unique())
print(pd.value_counts(maxi))
maxi[maxi=="In Person"] = 1
maxi[maxi=="Web"] = 2
maxi[maxi=="Inbound Phone"] = 3
maxi[maxi=="Mail"] = 4
maxi.loc[cmpr[cmpr==0].index] = 1
print(pd.value_counts(maxi))
SalesChannel_mod = maxi.astype(int) #SalesChannel_mod is a predictor
SalesChannel_mod.name = "SalesChannel"

[1 0]
Series([], dtype: int64)
ID Number        6868840
In Person              1
Inbound Phone          0
Mail                   0
Web                    0
Name: 1890, dtype: int64
ID Number        6868840
In Person              1
Inbound Phone          0
Mail                   0
Web                    0
Name: 1890, dtype: int64
['In Person' 'Inbound Phone' 'Web' 'Mail']
In Person        6817
Web              1873
Inbound Phone     783
Mail               75
dtype: int64
1    6817
2    1873
3     783
4      75
dtype: int64

### Transforming and Converting CSI

In [106]:
#An overview of CSI
print(CSI.dtypes)
for col in CSI.columns[1:]:
    print(CSI[col].unique())
print(CSI.sum())

ID Number                     int64
Account Modification          int64
Regular card replacement      int64
Other Card                    int64
Expedited card replacement    int64
Membership Issue              int64
dtype: object
[1 0]
[0 1]
[0 1]
[1 0]
[0 1]
ID Number                     8043932312
Account Modification                  27
Regular card replacement             409
Other Card                           156
Expedited card replacement           599
Membership Issue                      46
dtype: int64

In [377]:
#Transform CSI to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(CSI["ID Number"])
print(cmpr[cmpr==0].index)
print(CSI[CSI["ID Number"]==ID[9533]])
temp = CSI
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],0,0,0,0,0])
temp = temp.append(pd.DataFrame(l, columns=list(temp.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9537])
print(AnalyData["ID Number"][9537])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9533])
print(AnalyData["ID Number"][9533])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

Int64Index([   0,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            9533, 9535, 9537, 9540, 9541, 9542, 9543, 9544, 9545, 9547],
           dtype='int64', length=8357)
Empty DataFrame
Columns: [ID Number, Account Modification, Regular card replacement, Other Card, Expedited card replacement, Membership Issue]
Index: []
Original size: (1192, 6)
Modified size: (9549, 6)
Do not belong to ID: 281    6871452
Name: ID Number, dtype: int64
9548
7045584
7045740
7045672
7045672
9548

In [378]:
#Convert the multiple columns into 1 column. This will be one of the predictors 
maxi = temp2[temp2.columns[1:]].idxmax(axis=1)
print(maxi.unique())
print(pd.value_counts(maxi))
maxi[maxi=="Account Modification"] = 1
maxi[maxi=="Regular card replacement"] = 2
maxi[maxi=="Other Card"] = 3
maxi[maxi=="Expedited card replacement"] = 4
maxi[maxi=="Membership Issue"] = 5
maxi.loc[cmpr[cmpr==0].index] = 0
print(pd.value_counts(maxi))

#When a row has multiple columns with 1, choose only the column with the most occurrence of 1
total = temp2[temp2.columns[1:]].sum(axis=1)
print(total.unique())
total_logical = (total==2) | (total ==3)
for idx in total_logical[total_logical].index:
    if temp2["Expedited card replacement"][idx] == 1: maxi[idx]=4
    elif temp2["Regular card replacement"][idx] == 1: maxi[idx]=2
    elif temp2["Other Card"][idx] == 1: maxi[idx]=3
    elif temp2["Account Modification"][idx] == 1: maxi[idx]=1
    elif temp2["Membership Issue"][idx] == 1: maxi[idx]=5
print(pd.value_counts(maxi))
CSI_mod = maxi.astype(int) #CSI_mod is a predictor
CSI_mod.name = "CSI"

['Account Modification' 'Regular card replacement'
 'Expedited card replacement' 'Membership Issue' 'Other Card']
Account Modification          8427
Expedited card replacement     543
Regular card replacement       408
Other Card                     143
Membership Issue                27
dtype: int64
0    8357
4     543
2     408
3     143
1      70
5      27
dtype: int64
[0 2 1 3]
0    8357
4     598
2     383
3     122
1      61
5      27
dtype: int64

### Transforming and Converting Offer1st

In [212]:
#An overview of Offer1st
print(Offer1st.dtypes)
for col in Offer1st.columns[1:]:
    print(Offer1st[col].unique())
print(pd.value_counts(Offer1st[Offer1st.columns[1:]].sum(axis=1)))
print(Offer1st.shape)

ID Number                  int64
Offer on 1st Ren Notice    int64
dtype: object
[1 0]
1    6605
0    2735
dtype: int64
(9340, 2)

In [213]:
#Transform Offer1st to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(Offer1st["ID Number"])
print(cmpr[cmpr==0].index)
print(Offer1st[Offer1st["ID Number"]==ID[30]])
temp = Offer1st
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],1])
temp = temp.append(pd.DataFrame(l, columns=list(temp.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9537])
print(AnalyData["ID Number"][9537])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9533])
print(AnalyData["ID Number"][9533])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

print(pd.value_counts(temp2["Offer on 1st Ren Notice"]))
Offer1st_mod = temp2["Offer on 1st Ren Notice"].astype(int) #Offer1st_mod is a predictor
print(Offer1st_mod.head(8))

Int64Index([  19,   30,   54,   67,  119,  161,  293,  352,  389,  464,
            ...
            8882, 8978, 9112, 9138, 9140, 9159, 9256, 9294, 9457, 9469],
           dtype='int64', length=209)
Empty DataFrame
Columns: [ID Number, Offer on 1st Ren Notice]
Index: []
Original size: (9340, 2)
Modified size: (9549, 2)
Do not belong to ID: 7074    6993112
Name: ID Number, dtype: int64
9548
7031420
7045740
7045672
7045672
9548
1    6813
0    2735
Name: Offer on 1st Ren Notice, dtype: int64
0    1
1    1
2    1
3    0
4    0
5    1
6    1
7    1
Name: Offer on 1st Ren Notice, dtype: int64

### EmlOpt (Nothing much to change)

In [196]:
#An overview of EmlOpt
print(EmlOpt.dtypes)
for col in EmlOpt.columns[1:]:
    print(EmlOpt[col].unique())
print(EmlOpt[EmlOpt.columns[1:]].sum())
print(pd.value_counts(EmlOpt[EmlOpt.columns[1:]].sum(axis=1)))
print(EmlOpt.shape)
EmlOpt_mod = EmlOpt[EmlOpt.columns[1:]] #EmlOpt_mod is a predictor

ID Number               int64
NoEmail                 int64
Sch&EducNewsEmail       int64
SMMNewsEmail            int64
WarnerNatCtNewsEmail    int64
dtype: object
[0 1]
[1 0]
[1 0]
[0 1]
NoEmail                 1466
Sch&EducNewsEmail        643
SMMNewsEmail            7248
WarnerNatCtNewsEmail     137
dtype: int64
1    7877
0     877
2     766
3      27
4       1
dtype: int64
(9548, 5)

### Transforming and Converting Demo1

In [171]:
#An overview of Demo1
print(Demo1.dtypes)
for col in Demo1.columns[1:]:
    print(Demo1[col].unique())
print(Demo1[Demo1.columns[1:]].sum())
print(pd.value_counts(Demo1[Demo1.columns[1:]].sum(axis=1)))
print(Demo1.shape)

ID Number    int64
Demo1_B      int64
Demo1_C      int64
Demo1_D      int64
Demo1_E      int64
Demo1_F      int64
Demo1_G      int64
Demo1_H      int64
Demo1_I      int64
Demo1_J      int64
Demo1_K      int64
Demo1_L      int64
Demo1_M      int64
dtype: object
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
Demo1_B    1840
Demo1_C     812
Demo1_D    3112
Demo1_E    1900
Demo1_F    1049
Demo1_G     420
Demo1_H     179
Demo1_I      93
Demo1_J      56
Demo1_K      32
Demo1_L      22
Demo1_M      33
dtype: int64
1    9548
dtype: int64
(9548, 13)

In [189]:
#Convert the multiple columns into 1 column. This will be one of the predictors 
temp = Demo1
temp.columns = [0,1,2,3,4,5,6,7,8,9,10,11,12]
print(temp.head())
maxi = temp[temp.columns[1:]].idxmax(axis=1)
maxi.name = 'Demo1'
print(maxi.head(12))
print(pd.value_counts(maxi))
Demo1_mod = maxi #Demo1_mod is a predictor

       0   1   2   3   4   5   6   7   8   9   10  11  12
0  236764   1   0   0   0   0   0   0   0   0   0   0   0
1  298260   0   0   0   0   0   1   0   0   0   0   0   0
2  300288   1   0   0   0   0   0   0   0   0   0   0   0
3  300552   0   0   0   0   0   0   0   1   0   0   0   0
4  311620   1   0   0   0   0   0   0   0   0   0   0   0
0     1
1     6
2     1
3     8
4     1
5     1
6     3
7     3
8     3
9     1
10    5
11    7
Name: Demo1, dtype: int64
3     3112
4     1900
1     1840
5     1049
2      812
6      420
7      179
8       93
9       56
12      33
10      32
11      22
Name: Demo1, dtype: int64

### KeyPpl (Nothing much to change)

In [214]:
#An overview of KeyPpl
print(KeyPpl.dtypes)
for col in KeyPpl.columns[1:]:
    print(KeyPpl[col].unique())
print(KeyPpl[KeyPpl.columns[1:]].sum())
print(pd.value_counts(KeyPpl[KeyPpl.columns[1:]].sum(axis=1)))
print(KeyPpl.shape)
KeyPpl_mod = KeyPpl[KeyPpl.columns[1:]] #KeyPpl_mod is a predictor
KeyPpl_mod.name = "KeyPpl"

ID Number                         int64
Number of key people on record    int64
dtype: object
[2 1]
Number of key people on record    16769
dtype: int64
2    7221
1    2327
dtype: int64
(9548, 2)

### Tranforming and Converting NumVst

In [215]:
#An overview of NumVst
print(NumVst.dtypes)
for col in NumVst.columns[1:]:
    print(NumVst[col].unique())
print(NumVst[NumVst.columns[1:]].sum())
print(pd.value_counts(NumVst[NumVst.columns[1:]].sum(axis=1)))
print(NumVst.shape)

ID Number           int64
Number of Visits    int64
dtype: object
[ 1  2  6  0  5  3  4  8  7 10  9 11 14 15 12 13 18 16 20 17 21 24 34 25]
Number of Visits    25954
dtype: int64
1     2703
2     2489
3     1714
4      999
5      554
6      347
0      239
7      172
8      136
9       63
10      54
11      18
12      16
13       8
15       6
16       4
14       3
18       2
17       2
25       1
20       1
21       1
24       1
34       1
dtype: int64
(9534, 2)

In [217]:
#Transform NumVst to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(NumVst["ID Number"])
print(cmpr[cmpr==0].index)
print(NumVst[NumVst["ID Number"]==ID[552]])
temp = NumVst
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],1])
temp = temp.append(pd.DataFrame(l, columns=list(temp.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9537])
print(AnalyData["ID Number"][9537])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9537])
print(AnalyData["ID Number"][9537])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

print(pd.value_counts(temp2["Number of Visits"]))
NumVst_mod = temp2["Number of Visits"] #NumVst_mod is a predictor
NumVst_mod.name = "NumVst"
print(NumVst_mod.head(8))

Int64Index([ 401,  531,  552,  560,  565,  598,  603, 1139, 1766, 3679, 4924,
            5029, 5631, 8514, 8632],
           dtype='int64')
Empty DataFrame
Columns: [ID Number, Number of Visits]
Index: []
Original size: (9534, 2)
Modified size: (9549, 2)
Do not belong to ID: 7229    6993112
Name: ID Number, dtype: int64
9548
6665912
7045740
7045740
7045740
9548
1     2717
2     2489
3     1714
4      999
5      554
6      347
0      239
7      172
8      136
9       63
10      54
11      18
12      16
13       8
15       6
16       4
14       3
18       2
17       2
25       1
20       1
21       1
24       1
34       1
Name: Number of Visits, dtype: int64
0    1
1    2
2    2
3    2
4    6
5    0
6    5
7    3
Name: NumVst, dtype: int64

### Tranforming and Converting Commu

In [234]:
#An overview of Commu
print(Commu.dtypes)
for col in Commu.columns[1:]:
    print(Commu[col].unique())
print(Commu[Commu.columns[1:]].sum())
print(pd.value_counts(Commu[Commu.columns[1:]].sum(axis=1)))
print(Commu.shape)

ID Number                                      object
Dinos Magazine in mail                          int64
Space Magazine in mail                          int64
Email notification about level price change     int64
Mail notification about level price change      int64
Eaddress acquisition postcard                   int64
dtype: object
[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
Dinos Magazine in mail                         1658
Space Magazine in mail                         8540
Email notification about level price change     359
Mail notification about level price change       52
Eaddress acquisition postcard                   561
dtype: int64
1    7345
2    1457
3     302
5       1
dtype: int64
(9105, 6)

In [235]:
#Transform Commu to have same number of rows with AnalyData
ID = AnalyData["ID Number"]
cmpr = ID.isin(Commu["ID Number"])
print(cmpr[cmpr==0].index)
print(Commu[Commu["ID Number"]==ID[9479]])
temp = Commu
print("Original size:", temp.shape)
l=[]
for idx in list(cmpr[cmpr==0].index):
    l.append([ID[idx],0,0,0,0,0])
temp = temp.append(pd.DataFrame(l, columns=list(temp.columns)),ignore_index=True)
print("Modified size:", temp.shape)
cmpr2 = temp["ID Number"].isin(ID)
print("Do not belong to ID:",temp["ID Number"][cmpr2[cmpr2==0].index])
temp = temp.drop(cmpr2[cmpr2==0].index)
temp = temp.sort_values("ID Number")
print(sum(temp["ID Number"]==ID))

#Reset index
print(temp["ID Number"][9537])
print(AnalyData["ID Number"][9537])
temp2 = temp.reset_index(drop=True)
print(temp2["ID Number"][9537])
print(AnalyData["ID Number"][9537])
print(sum(temp2["ID Number"]==AnalyData["ID Number"]))

print(pd.value_counts(temp2[temp2.columns[1:]].sum(axis=1)))
Commu_mod = temp2[temp2.columns[1:]] #Commu_mod is a predictor
print(Commu_mod.head(8))

Int64Index([   0,   22,   30,   45,   54,   55,   59,   67,   68,   71,
            ...
            9479, 9486, 9488, 9493, 9497, 9498, 9501, 9505, 9508, 9523],
           dtype='int64', length=445)
Empty DataFrame
Columns: [ID Number, Dinos Magazine in mail, Space Magazine in mail, Email notification about level price change, Mail notification about level price change, Eaddress acquisition postcard]
Index: []
Original size: (9105, 6)
Modified size: (9550, 6)
Do not belong to ID: 6992        6993112
9104    Grand Total
Name: ID Number, dtype: object
9548
7044224
7045740
7045740
7045740
9548
1    7344
2    1457
0     445
3     302
dtype: int64
   Dinos Magazine in mail  Space Magazine in mail  \
0                       0                       0
1                       0                       1
2                       0                       1
3                       1                       1
4                       1                       1
5                       0                       1
6                       0                       1
7                       0                       1

   Email notification about level price change  \
0                                            0
1                                            0
2                                            0
3                                            0
4                                            0
5                                            0
6                                            0
7                                            0

   Mail notification about level price change  Eaddress acquisition postcard
0                                           0                              0
1                                           0                              0
2                                           0                              0
3                                           0                              1
4                                           0                              0
5                                           0                              0
6                                           0                              0
7                                           0                              0

### Trasnforming and Coverting ZipCd with help of external dataset, ZC

In [250]:
#An overview of ZC
print(ZC.dtypes)
print(ZC.describe())
print(ZC[ZC.columns[1:]].sum())
#print(pd.value_counts(Commu[Commu.columns[1:]].sum(axis=1)))
print(ZC.shape)
print(sum(pd.isnull(ZC["kmtoSMM"])))

zip                  int64
kmtoSMM            float64
milesToSMM         float64
hoursDriveToSMM    float64
city                object
state               object
latitude           float64
longitude          float64
dtype: object
                zip      kmtoSMM   milesToSMM  hoursDriveToSMM    latitude  \
count    951.000000   949.000000   949.000000       949.000000  951.000000
mean   57246.934805   712.388165   442.678006         6.629510   42.786851
std    14914.926774   913.032147   567.358176         8.228683    4.775439
min    10016.000000     1.844000     1.145862         0.076111   21.345200
25%    54660.500000   106.814000    66.374220         1.181944   41.683024
50%    55423.000000   283.069000   175.899077         2.814444   44.649263
75%    56551.500000   894.783000   556.018156         8.258333   45.384533
max    99780.000000  5092.755000  3164.637957        53.210556   63.341767

        longitude
count  951.000000
mean   -94.486320
std      9.307322
min   -157.881650
25%    -94.997725
50%    -93.283910
75%    -91.551945
max    -73.331140
kmtoSMM                                                       676056
milesToSMM                                                    420101
hoursDriveToSMM                                               6291.4
city               New YorkNew YorkBronxvilleNew RochelleNorthpor...
state              NYNYNYNYNYNYNYPAPAPAPAPAPAPAPAPAMDMDMDMDMDVAVA...
latitude                                                     40690.3
longitude                                                   -89856.5
dtype: object
(951, 8)
2

In [280]:
print(ZipCd["Zip Code"].unique().shape)
print(ZipCd.shape)
cmp = ZipCd["Zip Code"].isin(ZC["zip"])
print(sum(cmp))
print(cmp[cmp==0].shape)
print(ZipCd[cmp==0])
cmp2 = ZC["zip"].isin(ZipCd["Zip Code"])
print(sum(cmp2[cmp2==1]))
print(cmp2[cmp2==0].shape)

(960,)
(9548, 2)
9529
(19,)
      ID Number  Zip Code
426     4838348     55544
687     6841596     49704
769     6843368     22421
772     6843472      2602
1092    6850700     65183
1850    6868216       NaN
2310    6881876       NaN
2436    6883892     31105
2817    6891460       NaN
3103    6897464       NaN
5593    6957648     57204
5739    6960444       NaN
6141    6968816       NaN
6487    6976016       NaN
6792    6981652       NaN
7974    7009524       NaN
8450    7021904       NaN
8998    7035344     15812
9073    7036804       NaN
951
(0,)

In [284]:
print(ZC[ZC["zip"]==55414])
print(ZC[pd.isnull(ZC["kmtoSMM"])])
ZC_temp = ZC
ZC_temp["milesToSMM"][504] = 261
ZC_temp["milesToSMM"][931] = 3968
print(ZC_temp[pd.isnull(ZC_temp["milesToSMM"])])
print(ZipCd[(ZipCd["Zip Code"]==55604) | (ZipCd["Zip Code"]==96819)])

       zip  kmtoSMM  milesToSMM  hoursDriveToSMM         city state  \
466  55414   11.782    7.321335            0.185  Minneapolis    MN

      latitude  longitude
466  44.980379  -93.23003
       zip  kmtoSMM  milesToSMM  hoursDriveToSMM          city state  \
504  55604      NaN         261              NaN  Grand Marais    MN
931  96819      NaN        3968              NaN      Honolulu    HI

      latitude  longitude
504  47.939037  -90.54659
931  21.345200 -157.88165
Empty DataFrame
Columns: [zip, kmtoSMM, milesToSMM, hoursDriveToSMM, city, state, latitude, longitude]
Index: []
      ID Number  Zip Code
1891    6868876     96819
8060    7012676     55604
8823    7031160     55604

/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/KaiweiAng/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [343]:
#mapping
ZC2 = pd.Series(list(ZC["milesToSMM"]), index=list(ZC["zip"]))
print(ZC2.head())
print(sum(pd.isnull(ZC2)))
distance = ZipCd["Zip Code"].map(ZC2)
print(ZipCd.loc[8060])
print(ZC2[55604])
print(distance[8060])
print(sum(pd.isnull(distance)))
print(distance.describe())
distance[pd.isnull(distance)] = distance.mean()
print(sum(pd.isnull(distance)))
distance.name = "Distance to SMM"

10016    1197.522932
10024    1203.247269
10708    1207.943188
10801    1211.318633
11768    1241.169446
dtype: float64
0
ID Number    7012676
Zip Code       55604
Name: 8060, dtype: float64
261.0
261.0
19
count    9529.000000
mean       72.009127
std       227.150150
min         1.145862
25%        13.936759
50%        21.290407
75%        37.953869
max      3968.000000
Name: Zip Code, dtype: float64
0

### Combining all the features into a single DataFrame

In [394]:
comb = pd.concat([AnalyData["ID Number"],AnalyData_mod,MbrLvl_mod,PayMthd_mod,SalesChannel_mod,CSI_mod,Offer1st_mod,
                  EmlOpt_mod,Demo1_mod,KeyPpl_mod,NumVst_mod,Commu_mod,distance,renew],axis=1)
#comb.columns = ['ID Number','PayMthd','SalesChannel','CSI','Offer1st'] + EmlOpt_mod.columns.values.tolist() 
print(comb.shape)
comb.head(12)

(9548, 23)

,ID Number,Duration,Mbr1,Mbr2,Discount,PayMthd,SalesChannel,CSI,Offer on 1st Ren Notice,NoEmail,...,Demo1,Number of key people on record,NumVst,Dinos Magazine in mail,Space Magazine in mail,Email notification about level price change,Mail notification about level price change,Eaddress acquisition postcard,Distance to SMM,Renew
0,236764,364,1,2,1,1,1,0,1,0,...,1,2,1,0,0,0,0,0,2.457016,1
1,298260,364,1,1,1,3,3,4,1,0,...,6,2,2,0,1,0,0,0,3.938433,0
2,300288,364,2,1,1,2,1,0,1,1,...,1,1,2,0,1,0,0,0,41.951957,0
3,300552,364,1,1,1,1,1,0,0,0,...,8,2,2,1,1,0,0,1,20.997106,1
4,311620,364,2,1,1,1,1,0,0,1,...,1,2,6,1,1,0,0,0,13.612388,0
5,314596,364,2,1,0,1,1,0,1,0,...,1,2,0,0,1,0,0,0,15.098156,0
6,318040,364,1,1,1,1,1,0,1,0,...,3,1,5,0,1,0,0,0,26.692858,0
7,319736,364,1,1,1,1,3,0,1,0,...,3,2,3,0,1,0,0,0,24.716185,0
8,329464,364,1,1,0,1,1,0,0,0,...,3,2,5,0,1,0,0,0,18.909202,0
9,331484,364,2,1,0,3,2,0,1,1,...,1,2,0,0,1,0,0,0,11.713390,NaN
10,340096,364,1,1,1,1,3,0,1,0,...,5,2,3,0,1,0,0,0,25.062926,0
11,342776,364,1,1,1,1,1,0,0,0,...,7,2,2,0,1,0,0,0,14.166056,0

### Saving comb as a csv file

In [393]:
comb.to_csv("SMM.csv", index=False)